.container {
    background: rgba(26, 26, 26, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.1px);
    -webkit-backdrop-filter: blur(10.1px);
    border: 1px solid rgba(26, 26, 26, 0.05);
    height: 70vh;
    width: 60vw;
}
