@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sankofa";
  src: url("../../public/fonts/SankofaDisplay-Regular.ttf");
}

body {
  background-color: rebeccapurple;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../../public/background.jpg');
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
